
/*Подключения css-стили*/

// @import url("../main.css");

/* -------------------------- */
// @import url("header.css");

// @import url("style.css");

// @import url("footer.css");
/*--------------------*/

/*-Google_Fonts-*/

/*--------------------*/

$color_main:  rgb(115, 255, 0);
$color_tittle:  rgb(46, 145, 0);
$color_subtittle:  rgb(255, 240, 35);
$color_new: #000;

/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


div {
    display: inherit;
}

/*--------------------*/

header, .enter_container{
   width: 100%;
   height: 100%;
      h2{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         margin: 0 auto;
         text-align: center;
         font-size: 42px;
         color:  $color_main;
         animation: tittleAnimation 2s forwards;
      }

      p{
         position: relative;
         z-index: 2;
      }
      button{
        
         margin-top: 30px;
         
        
         &:hover{
            transition: .2s;
            margin-bottom: -2px;
            border-bottom: 3px solid $color_main !important;
            border-right: 3px solid $color_main !important;
         }
         
      }
      .enter_content-value{
         position: absolute;
         margin: 0 auto;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         max-width: 400px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
       input{
         background: none;
         border-bottom: 4px solid $color_main;
         border-radius: 15px;
         padding: 2px 2px;
         padding-left: 10px;
         color: $color_main;
         outline: none;
         font-size: 32px;  
         margin: 5px auto;
         }
      }
         .main-btn{
            outline: none;
            font-size: 30px;
            padding: 6px  5px;
            border-radius: 10px;
            } 
}

#newName{
         position: absolute;
         bottom: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         transition: .5s;
          z-index: -1;
          opacity: 1;
}
.newName{
      transition: .5s;
      font-size: 42px;
      color: $color_main;
     opacity: 0;
}



.main-page{
   position: absolute;
   width: 100%; // 100%
   height: 100%;
   top: 0;
   left: 0;
   z-index: -10;
   // background: url(/img/main-bg.png) 0 / cover fixed;
  background-color: rgb(78, 78, 78);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;

    filter: blur(5px);
  .main-page-content{
     position: absolute;
      .time{
      color: $color_tittle;
      font-size: 48px;
      animation: animated-to-none-opacity .3s;
      width: 100%;
      margin: 0 auto;
      }
  }
}
.focus{
   transition: 1s !important;
   background: rgba(160, 160, 160, 0.7) !important;
   border-radius: 7px !important;
}
.removed-item{
   
   animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards
}
.show{ 
   
   animation: main-page-animation 1.5s 
}
.none{
   
   animation: animated-to-none-opacity .7s forwards;
   
}




@keyframes tittleAnimation{
   from{
      opacity: 0;

   }
   to{
      top: 35%;
      opacity: 1;
   }
}

@keyframes animated-to-none-opacity{
   from{
      opacity: 1;
   }
   to{
      opacity: 0;
      transition: opasity 300s;  
   }
}


@keyframes removed-item-animation {
    from {      
        opacity: 1;        
    }
    to {      
        opacity: 0;
    }
}



@keyframes main-page-animation {
   from{    
      filter: blur(5px); 
      //   opacity: 0
   }
   to{      
      // opacity: 1;
      filter: blur(0px);
   }
}


