/*-Google_Fonts-*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@300;500;700;900&display=swap");
/*--------------------*/
* {
  line-height: 1.5em;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

.card {
  border: none !important;
}

/*--------HEADER------------*/
.header {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(../img/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh !important;
}

.header_content {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bebebe;
}

.header_content__tittle {
  font-size: 36px;
  position: relative;
  top: -1000%;
}

.header_content__subtittle {
  line-height: 1em;
  margin: 20px 0;
  width: 60%;
  position: relative;
  right: -100%;
}

.arr {
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  width: 25px;
  height: 60px;
}

.arr .arr-target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0px;
}

.arr .header-content__arr-down {
  position: relative;
  border: solid blanchedalmond;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: dropDownArrow 1.5s ease-out 0.5s infinite;
          animation: dropDownArrow 1.5s ease-out 0.5s infinite;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/*--------NAVBAR------------*/
.navbar {
  background-color: #222629;
  font-size: 18px;
}

.navbar .navbar-collapse {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navbar .download__CV a {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #61892f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .download__CV a:hover {
  color: #86c232;
  -webkit-box-shadow: 0px 0px 5px 2px #61892f;
          box-shadow: 0px 0px 5px 2px #61892f;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #61892f;
}

.navbar .navbar-nav .active {
  border-bottom: 2px solid #86c232;
}

.navbar .navbar-nav .active a {
  color: #86c232;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #e3f2fd;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.main {
  padding-top: 30px;
  background-color: #141414;
}

.main ul {
  color: #cad0d4;
  font-weight: 600;
  line-height: 1.5em;
  padding: 0 0 0 20px;
}

.main ul li {
  font-weight: 400;
  list-style: none;
}

.main ul li::before {
  content: "- ";
}

.sidebar {
  background-color: #141414;
}

.sidebar .about-me__wrap {
  background-color: #222629 !important;
}

.sidebar .about-me__wrap .photo {
  max-width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px 10px 0;
}

.sidebar .about-me__wrap .photo img {
  border-radius: 10px;
}

.sidebar .about-me__wrap .about-me h3 {
  font-size: 28px;
  color: #86c232;
}

.sidebar .about-me__wrap ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.sidebar .about-me__wrap ul li {
  color: #61892f;
  font-size: 16px;
}

.sidebar .about-me__wrap ul li a {
  font-weight: 500;
  padding-left: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  color: #cad0d4;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.sidebar .about-me__wrap ul li a:hover {
  color: white;
}

.informations__block {
  color: white;
  margin: 20px 0;
  padding: 15px;
  background-color: #222629 !important;
}

.rightcol {
  background-color: #141414;
}

.rightcol .blocks-wrapper__tittle {
  color: #86c232;
  position: relative;
  right: -1000%;
  font-weight: 700;
  padding: 0px 0px 20px;
  width: 100%;
  font-size: 48px;
  border-bottom: 2px solid #61892f;
}

.rightcol .profile {
  margin-top: 0;
  text-indent: 20px;
}

.rightcol .skills ul {
  color: #cad0d4;
  font-weight: 600;
  line-height: 1.5em;
  margin: 5px 0 15px;
}

.rightcol .skills ul li {
  font-weight: 400;
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

.rightcol .skills ul li::before {
  content: "- ";
}

.rightcol .experience a {
  color: #61892f;
}

.rightcol .experience ul {
  color: #cad0d4;
  font-weight: 600;
  line-height: 1.5em;
  margin: 5px 0 15px;
}

.rightcol .experience ul li {
  font-weight: 400;
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

.rightcol .experience ul li::before {
  content: "- ";
}

.rightcol .contact-me {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.form {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}

.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url(https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif) center no-repeat;
  background-size: 100px 100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="email"],
textarea,
select {
  width: 100%;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 5px;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form select:focus {
  -webkit-box-shadow: 0 0 8px #86c232;
          box-shadow: 0 0 8px #86c232;
  border: 1px solid #86c232;
}

.form ._error {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.form textarea ._error {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.form button[type="submit"],
.form button[type="button"] {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background: #61892f;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 4px 2px #61892f;
          box-shadow: 0px 0px 4px 2px #61892f;
}

@media screen and (max-width: 680px) {
  .header {
    background-attachment: initial;
  }
  .blocks-wrapper__tittle {
    right: 0;
  }
  .download__CV {
    text-align: right;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    background-color: #141414;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .navbar .navbar-nav {
    display: none;
  }
  .header_content h2 {
    width: 90%;
  }
  .main {
    padding-top: 0;
  }
  .main .sidebar {
    padding: 0;
    text-align: -webkit-center;
  }
  .main .sidebar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .rightcol {
    padding: 20px 0 0 0;
  }
}

.animation {
  -webkit-animation: fromLeftAnimation 0.7s ease forwards;
          animation: fromLeftAnimation 0.7s ease forwards;
}

@-webkit-keyframes fromLeftAnimation {
  to {
    right: 0px;
    top: 0;
  }
}

@keyframes fromLeftAnimation {
  to {
    right: 0px;
    top: 0;
  }
}

@-webkit-keyframes dropDownArrow {
  from {
    top: -20px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 20px;
    opacity: 0;
  }
}

@keyframes dropDownArrow {
  from {
    top: -20px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 20px;
    opacity: 0;
  }
}

@-webkit-keyframes popDownNavbar {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

@keyframes popDownNavbar {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */