/*-Google_Fonts-*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@300;500;700;900&display=swap");
/*--------------------*/
@mixin informationBlock {
  color: rgb(255, 255, 255);
  margin: 20px 0;
  padding: 15px;
  border-radius: 15px;
  background-color: $background;
}
$background: rgb(34, 38, 41);
$backgroundMain: rgb(20, 20, 20);
$subText: rgb(202, 208, 212);
$subTextDecoration: #61892f;
$mainTextDecoration: #86c232;

* {
  line-height: 1.5em;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
}
body,
p {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a:active,
a:hover {
  outline: 0;
}
/*--------HEADER------------*/
.header {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url(../img/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh !important;
  background-repeat: no-repeat;
}

.header_content {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  align-items: center;
  &__tittle {
    font-size: 36px;
    position: relative;
    top: -1000%;
  }
  &__subtittle {
    line-height: 1em;
    margin: 20px 0;
    width: 60%;
    position: relative;
    right: -100%;
  }
}

.arr {
  border-radius: 50%;
  position: absolute;

  bottom: 10px;
  width: 25px;
  height: 60px;

  .arr-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0px;
  }

  .header-content__arr-down {
    position: relative;
    border: solid rgb(255, 235, 205);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(45deg);
    animation: dropDownArrow 1.5s ease-out 0.5s infinite;
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/*--------NAVBAR------------*/
.navbar-sticky {
  width: 100%;
  position: fixed !important;
  top: 0;
  animation: popDownNavbar 0.5s;
}

.navbar {
  background-color: $background;
  left: 0;
  position: absolute;
  z-index: 1000;
  width: 100%;

  font-size: 18px;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;
    .download__CV {
      a {
        border-radius: 5px;
        padding: 5px;
        border: 2px solid $subTextDecoration;
        transition: 0.3s;
        &:hover {
          box-shadow: 0px 0px 5px 2px $subTextDecoration;
        }
      }
    }
  }
}

// .navbar-nav {
//   display: flex;
//   transition: 0.4s;
//   .nav-item {
//     margin-left: 10px;
//     padding: 0 3px;
//   }
// }
.navbar-nav .active {
  a {
    color: $mainTextDecoration;
  }
  border-bottom: 2px solid $mainTextDecoration;
}

.nav-item:first-child {
  margin-left: 0px;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: $subTextDecoration;
}

.main {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

// ----------------sidebar---------------
.sidebar {
  padding: 70px 10px 0;
  width: 30%;
  background-color: $backgroundMain;
}
.about-me__wrap {
  margin: 10px 10px;

  .about-me {
    h2 {
      text-decoration: underline;
      margin: 0px auto;
      font-size: 28px;
      color: $mainTextDecoration;
    }
  }
  ul {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 5px 0px;
    font-size: 24px;
    li {
      color: $subTextDecoration;
      font-size: 16px;
      a {
        font-weight: 500;
        padding-left: 10px;
        width: fit-content;
        display: block;
        color: $subText;
        transition: all 0.15s linear;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}

.about-me__photo {
  height: 270px;
  width: 250px;
  img {
    border-radius: 10px;
    width: inherit;
    height: inherit;
  }
}
// ----------------RightCol--------------

.rightcol {
  padding: 70px 15px 0;
  width: 69.4%;
  background-color: $backgroundMain;
}
.blocks-wrapper__tittle {
  color: $mainTextDecoration;
  position: relative;
  right: -1000%;
  font-weight: 700;
  padding: 0px 0px 20px;
  width: 100%;
  font-size: 48px;
  border-bottom: 2px solid $subTextDecoration;
  border-radius: 1px;
  border-width: 100%;
  animation-duration: 1s;
}
.informations__block {
  @include informationBlock();
}
.profile {
  text-indent: 20px;
}
.skills {
  ul {
    color: $subText;
    font-weight: 600;
    line-height: 1.5em;
    margin: 5px 0 15px;
    li {
      font-weight: 400;
      list-style: none;
      position: relative;
      padding: 0 0 0 20px;
      &::before {
        content: "- ";
      }
    }
  }
}
.contact-me {
  margin-bottom: 0;
}
.experience {
  a {
    color: $subTextDecoration;
  }
  ul {
    color: $subText;
    font-weight: 600;
    line-height: 1.5em;
    margin: 5px 0 15px;
    li {
      font-weight: 400;
      list-style: none;
      position: relative;
      padding: 0 0 0 20px;

      &::before {
        content: "- ";
      }
    }
  }
}

//----------------------FORM-------------------------------------
.form {
  position: relative;
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url(../img/25.gif) center no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="email"],
textarea,
select {
  width: 100%;
  color: black;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 5px;
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form select:focus {
  box-shadow: 0 0 8px $mainTextDecoration;
  border: 1px solid $mainTextDecoration;
}

.form ._error {
  box-shadow: 0 0 10px red;
}
.form textarea ._error {
  box-shadow: 0 0 10px red;
}

.form button[type="submit"],
.form button[type="button"] {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background: $subTextDecoration;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form button:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 4px 2px $subTextDecoration;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
//-----------------------------------------------------------

@media screen and (max-width: 992px) {
  .header {
    height: 100%;
    background-attachment: unset;
  }
  .header_content {
    h2 {
      width: 70%;
    }
  }
  .main {
    flex-direction: column;
    .sidebar {
      width: auto;
      padding: 70px 0px 0;

      .about-me__wrap {
        margin: 0 10px;
      }
    }
    .rightcol {
      width: auto;
      padding-top: 0;
      .profile {
        margin: 0 10px;
      }
      .skills {
        margin: 10px;
      }
      .education {
        margin: 10px;
      }
    }
  }
}
// ---------------------------------
@media screen and (max-width: 680px) {
  .download__CV {
    display: none;
  }
}
// ---------------------------------
@media screen and (max-width: 450px) {
  .header {
    background-size: auto;
    height: 100%;
  }
  .header_content {
    h2 {
      width: 90%;
    }
  }
  .main {
    display: block;
    .sidebar {
      width: 100%;
      text-align: -webkit-center;
      ul {
        li {
          display: flex;
        }
      }
    }
    .rightcol {
      padding: 0;
    }
  }
}

.animation {
  animation: fromLeftAnimation 0.7s ease forwards;
}
@keyframes fromLeftAnimation {
  to {
    right: 0px;
    top: 0;
  }
}

@keyframes dropDownArrow {
  from {
    top: -20px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 20px;
    opacity: 0;
  }
}
@keyframes popDownNavbar {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
