/*-Google_Fonts-*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@300;500;700;900&display=swap");
/*--------------------*/
@mixin informationBlock {
  color: rgb(255, 255, 255);
  margin: 20px 0;
  padding: 15px;
  // border-radius: 15px;
  background-color: $background !important;
}
$background: rgb(34, 38, 41);
$backgroundMain: rgb(20, 20, 20);
$subText: rgb(202, 208, 212);
$subTextDecoration: #61892f;
$mainTextDecoration: #86c232;

* {
  line-height: 1.5em;
  font-family: "Raleway", sans-serif;
}
body {
  overflow-x: hidden;
}
.card {
  border: none !important;
}
/*--------HEADER------------*/
.header {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: url(../img/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh !important;
}

.header_content {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  align-items: center;
  color: #bebebe;
  &__tittle {
    font-size: 36px;
    position: relative;
    top: -1000%;
  }
  &__subtittle {
    line-height: 1em;
    margin: 20px 0;
    width: 60%;
    position: relative;
    right: -100%;
  }
}
// ---------------------------------------------------
.arrow {
  bottom: 0;
  position: absolute;
  .arrow-link {
    padding: 20px;

    .arrow-down {
      transform: rotate(-90deg);
      position: relative;
      display: inline-block;
      background: #f3f3f3;
      opacity: 0.8;
      height: 1px;
      width: 45px;
      bottom: 14px;
      transition: all 0.3s;
      color: #fff;
      &::before {
        content: "";
        top: 0;
        transform: rotate(0);
        opacity: 0;
        position: absolute;
        background: #f3f3f3;
        height: 1px;
        width: 10px;
        left: -1px;
        margin-right: 0;
        backface-visibility: hidden;
        transition: all 0.3s;
      }
      &::after {
        content: "";
        top: 0;
        transform: rotate(0);
        opacity: 0;
        position: absolute;
        background: #f3f3f3;
        height: 1px;
        width: 10px;
        left: -1px;
        margin-right: 0;
        backface-visibility: hidden;
        transition: all 0.3s;
      }
    }
    &:hover {
      span {
        opacity: 1;
        bottom: 20px;
        height: 2px;
        &::before {
          transform: rotate(45deg);
          left: -2px;
          top: 3px;
          height: 2px;
          opacity: 1;
        }
        &::after {
          transform: rotate(-45deg);
          left: -2px;
          top: -3px;
          height: 2px;
          opacity: 1;
        }
      }
    }
  }
}

// ---------------------------------------------------
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/*--------NAVBAR------------*/

.navbar {
  background-color: $background;
  .navbar-collapse {
    width: 100%;
    flex-grow: 0;
  }
  font-size: 18px;

  .download__CV {
    a {
      text-decoration: none;
      border-radius: 5px;
      padding: 5px;
      border: 2px solid $subTextDecoration;
      transition: 0.3s;
      &:hover {
        color: $mainTextDecoration;
        box-shadow: 0px 0px 5px 2px $subTextDecoration;
      }
    }
  }
  .navbar-nav {
    margin-left: auto;

    .nav-item {
      margin-left: 10px;
      .nav-link {
        transition: 0.3s;
        &:hover {
          color: $subTextDecoration;
        }
      }
    }
    .active {
      a {
        color: $mainTextDecoration;
      }
      border-bottom: 2px solid $mainTextDecoration;
    }
  }
}

// --------------------Animated ICON ---------------------------
.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e3f2fd;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}
// -----------------------------------------------

.main {
  padding-top: 30px;
  background-color: $backgroundMain;
  ul {
    color: $subText;
    font-weight: 600;
    line-height: 1.5em;
    padding: 0 0 0 20px;
    li {
      font-weight: 400;
      list-style: none;
      // position: relative;

      &::before {
        content: "- ";
      }
    }
  }
}

// ----------------sidebar---------------
.sidebar {
  background-color: $backgroundMain;
  .about-me__wrap {
    background-color: $background !important;
    .photo {
      max-width: 300px;
      align-self: center;
      padding: 20px 10px 0;
      img {
        border-radius: 10px;
      }
    }
    .about-me {
      h3 {
        font-size: 28px;
        color: $mainTextDecoration;
      }
    }
    ul {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 24px;
      li {
        color: $subTextDecoration;
        font-size: 16px;
        a {
          font-weight: 500;
          padding-left: 10px;
          width: fit-content;
          display: block;
          color: $subText;
          transition: all 0.15s linear;
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

// ----------------RightCol--------------

.informations__block {
  @include informationBlock();
}
.rightcol {
  background-color: $backgroundMain;
  .blocks-wrapper__tittle {
    color: $mainTextDecoration;
    position: relative;
    right: -1000%;
    font-weight: 700;
    padding: 0px 0px 20px;
    width: 100%;
    font-size: 48px;
    border-bottom: 2px solid $subTextDecoration;
  }
  .profile {
    margin-top: 0;
    text-indent: 20px;
  }
  .skills {
    ul {
      color: $subText;
      font-weight: 600;
      line-height: 1.5em;
      margin: 5px 0 15px;
      li {
        font-weight: 400;
        list-style: none;
        position: relative;
        padding: 0 0 0 20px;
        &::before {
          content: "- ";
        }
      }
    }
  }
  .experience {
    a {
      color: $subTextDecoration;
    }
    ul {
      color: $subText;
      font-weight: 600;
      line-height: 1.5em;
      margin: 5px 0 15px;
      li {
        font-weight: 400;
        list-style: none;
        position: relative;
        padding: 0 0 0 20px;

        &::before {
          content: "- ";
        }
      }
    }
  }
  .contact-me {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }
}

//----------------------FORM-------------------------------------
.form {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4)
    url(https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif) center
    no-repeat;
  background-size: 100px 100px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="email"],
textarea,
select {
  width: 100%;
  color: black;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 5px;
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="email"]:focus,
.form textarea:focus,
.form select:focus {
  box-shadow: 0 0 8px $mainTextDecoration;
  border: 1px solid $mainTextDecoration;
}

.form ._error {
  box-shadow: 0 0 10px red;
}
.form textarea ._error {
  box-shadow: 0 0 10px red;
}

.form button[type="submit"],
.form button[type="button"] {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background: $subTextDecoration;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form button:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 4px 2px $subTextDecoration;
}

// ---------------------------------
@media screen and (max-width: 767px) {
  .rightcol {
    padding: 20px 0 0 0;
  }
}
@media screen and (max-width: 680px) {
  .header {
    background-attachment: initial;
  }
  .blocks-wrapper__tittle {
    right: 0;
  }
  .download__CV {
    text-align: right;
  }
}
// ---------------------------------
@media screen and (max-width: 576px) {
  .navbar {
    background-color: rgb(20, 20, 20);
    flex-wrap: nowrap !important;
    .navbar-nav {
      display: none;
    }
  }
  .header_content {
    h2 {
      width: 90%;
    }
  }
  .main {
    padding-top: 0;
    .sidebar {
      padding: 0;
      text-align: -webkit-center;
      ul {
        li {
          display: flex;
        }
      }
    }
  }
}

.animation {
  animation: fromLeftAnimation 0.7s ease forwards;
}
@keyframes fromLeftAnimation {
  to {
    right: 0px;
    top: 0;
  }
}

@keyframes dropDownArrow {
  from {
    top: -20px;
    opacity: 0;
  }
  50% {
    top: 0px;
    opacity: 1;
  }
  to {
    top: 20px;
    opacity: 0;
  }
}
@keyframes popDownNavbar {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
